body {
	margin: 0px;
	color: white;
}

iframe {
	float: left;
	width: 35%;
	margin-top: 10%;
}

#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}

#submitButton {
	border-radius: 20px;
	width: 180px; 
	border: 1px solid white;
	margin-left: 55px; 
	font-size: 16px;
	height: 40px; 
}

#selection {
	padding: 10px; 
}


#hero {
	background-image: url('../images/business/bookbg.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	top:0;
	height: 100vh;
	z-index: -10;
}

#hero-overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.60);
	top:0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

#theForm {
 
color:white;
display: table;
padding: 50px;

}
 
.row {
display: table-row;

}
 
.row label {
display: table-cell;
padding-right: 40px;
text-align:right;
 
}
 
					/* FORM STYLING */ 

form {
	color: white;
	width: 45%;
	margin-top: 10%;
	float: left;
	margin-right: 5%;
	height: 50%; 
	margin-left:10%;
}					

.row input {
	display: table-cell;
	padding: 2px;
	width: 300px;
	background-color: inherit;
	border: none; 
	border-bottom: white 1px solid; 
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.row select {
display: table-cell;
padding: 2px;
width: 300px;
background-color: inherit;
border: none; 
border-bottom: white 1px solid; 
font-size: 20px; 
}


#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}

* {
    font-family: "News Cycle", sans-serif;
    color: white;
}

/*Navigation*/
nav {
    padding: 10px;
}
.navbar-inverse {
    background-color: grey;
    border: none;
}

.navbar .nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.navbar .nav > li > a:hover {
    color: orange;
}
.navbar-toggle {
    border: none;
    outline: none;
}


/* menubar */
a:link, a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*Footer*/
#footer {
    height: 100px;
    background-color: grey;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 60px;
}

#toTop {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer a:link, #footer a:visited {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: none;
}






